.srch-bar {
    background: #2a4466;
    /*height: 100px;*/
    position: fixed;
    top: 0;
    left: 2.5%;
    right: 0;
    width: 95%;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    border-radius: 0 0 46px 46px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 7px 7px rgba(0,0,0,.28);
}
.srch-bar label {
    padding: 6px;
    color: white;
    font-size: 16px;
}
.radio {
    vertical-align: middle;
    padding-left: 8px;
    color: white;
    font-size: 16px;
}
.radio label {
    font-size: 12px;
    padding-right: 4px;
}